In [28]:
import numpy as np
import pandas as pd

data = {
    "Voter_id": range(1001,1051),
    "Age": np.random.randint(18,80,50),
    'Gender': np.random.choice(['Male', 'Female', 'Other'], 50),
    'State': np.random.choice(['MP', 'UP', 'MH', 'RJ', 'DL'], 50),
    'Voted_For': np.random.choice(['BJP', 'Congress', 'AAP'], 50),
    'Voting_Status': np.random.choice(['Voted', 'Not Voted'], 50)
}
df = pd.DataFrame(data)
df

    Voter_id  Age  Gender State Voted_For Voting_Status
0       1001   68    Male    DL       BJP         Voted
1       1002   37   Other    MH       AAP         Voted
2       1003   55   Other    MP       BJP     Not Voted
3       1004   40    Male    RJ  Congress         Voted
4       1005   24   Other    UP  Congress     Not Voted
5       1006   26   Other    UP       AAP     Not Voted
6       1007   52    Male    RJ  Congress     Not Voted
7       1008   44  Female    MP  Congress     Not Voted
8       1009   30   Other    MP       BJP         Voted
9       1010   55  Female    DL  Congress     Not Voted
10      1011   63    Male    UP       BJP     Not Voted
11      1012   62  Female    DL  Congress     Not Voted
12      1013   69  Female    DL  Congress     Not Voted
13      1014   53   Other    DL       BJP     Not Voted
14      1015   48  Female    MH       BJP     Not Voted
15      1016   28    Male    MH       BJP         Voted
16      1017   68  Female    MP       AAP         Voted
17      1018   70   Other    UP  Congress         Voted
18      1019   79    Male    MH       BJP         Voted
19      1020   36   Other    MP       AAP         Voted
20      1021   51  Female    MP       AAP     Not Voted
21      1022   56   Other    UP  Congress     Not Voted
22      1023   79   Other    MP  Congress         Voted
23      1024   30   Other    UP       BJP     Not Voted
24      1025   32    Male    RJ       AAP     Not Voted
25      1026   30  Female    UP  Congress         Voted
26      1027   66    Male    MP  Congress     Not Voted
27      1028   59    Male    DL       BJP         Voted
28      1029   55  Female    DL  Congress         Voted
29      1030   24    Male    RJ       AAP         Voted
30      1031   64    Male    MH       AAP         Voted
31      1032   24    Male    UP       AAP     Not Voted
32      1033   67  Female    MH       BJP         Voted
33      1034   38  Female    DL       BJP         Voted
34      1035   50  Female    UP  Congress     Not Voted
35      1036   49   Other    MH       BJP         Voted
36      1037   70    Male    RJ       AAP         Voted
37      1038   65   Other    UP  Congress         Voted
38      1039   69    Male    MP       AAP         Voted
39      1040   58    Male    UP       BJP         Voted
40      1041   45   Other    UP       BJP         Voted
41      1042   62   Other    DL  Congress     Not Voted
42      1043   18   Other    MP       BJP         Voted
43      1044   69   Other    UP  Congress         Voted
44      1045   68  Female    UP  Congress         Voted
45      1046   71   Other    UP       AAP     Not Voted
46      1047   48   Other    DL       AAP     Not Voted
47      1048   29  Female    MH  Congress         Voted
48      1049   54    Male    MH       AAP     Not Voted
49      1050   30  Female    RJ       BJP         Voted

In [29]:
print("number of rows",df.shape[0])   #shape is not a function it is a attribute
print("number of columns",df.shape[1])   #shape is not a function it is a attribute

number of rows 50
number of columns 6

In [30]:
# display top 3 & bottom 3
print("top 3 data \n ",df.head(3))
print("last 3 data \n ",df.tail(3))

top 3 data
     Voter_id  Age Gender State Voted_For Voting_Status
0      1001   68   Male    DL       BJP         Voted
1      1002   37  Other    MH       AAP         Voted
2      1003   55  Other    MP       BJP     Not Voted
last 3 data
      Voter_id  Age  Gender State Voted_For Voting_Status
47      1048   29  Female    MH  Congress         Voted
48      1049   54    Male    MH       AAP     Not Voted
49      1050   30  Female    RJ       BJP         Voted

In [31]:
df.dtypes   #for data type of each columns

Voter_id          int64
Age               int32
Gender           object
State            object
Voted_For        object
Voting_Status    object
dtype: object

In [32]:
# for information like number of col, nu of rows , memory required , dtype  we can use  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Voter_id       50 non-null     int64
 1   Age            50 non-null     int32
 2   Gender         50 non-null     object
 3   State          50 non-null     object
 4   Voted_For      50 non-null     object
 5   Voting_Status  50 non-null     object
dtypes: int32(1), int64(1), object(4)
memory usage: 2.3+ KB

In [33]:
# print("number of peoples =>",len(df.Voting_Status))
# df.columns['Voting_Status']

In [34]:
df.isnull()               #to check null values
df.isnull().sum()         #to check total number of null values in columns by default it displays column wise by default axis=0
df.isnull().sum(axis=1)   #to check total number of null values in columns axis =1 then row wise
df.describe()             #for statistical operations on  column
df.describe(include='all')             #for statistical operations on every column

          Voter_id        Age Gender State Voted_For Voting_Status
count     50.00000  50.000000     50    50        50            50
unique         NaN        NaN      3     5         3             2
top            NaN        NaN  Other    UP  Congress         Voted
freq           NaN        NaN     19    15        19            28
mean    1025.50000  50.740000    NaN   NaN       NaN           NaN
std       14.57738  16.791409    NaN   NaN       NaN           NaN
min     1001.00000  18.000000    NaN   NaN       NaN           NaN
25%     1013.25000  36.250000    NaN   NaN       NaN           NaN
50%     1025.50000  53.500000    NaN   NaN       NaN           NaN
75%     1037.75000  65.750000    NaN   NaN       NaN           NaN
max     1050.00000  79.000000    NaN   NaN       NaN           NaN

In [35]:
# to find unique values from gender column 
print("unique values from gender",df['Gender'].unique())
# to find number unique values from gender column 
print("unique number of values from gender",df['Gender'].nunique())
print("unique number of values from gender",len(df['Gender'].unique()))
# display count of unique values from gender column 
print(df['Gender'].value_counts())

unique values from gender ['Male' 'Other' 'Female']
unique number of values from gender 3
unique number of values from gender 3
Gender
Other     19
Male      16
Female    15
Name: count, dtype: int64

In [36]:
# find data which have age greater than 40
df['Age']>=40                                               #this will result in true false 
df[df['Age']>=40]                                           #this will give data of those having age >=40
df[(df['Age']>=40) & (df['Age']<=70)]                       # for age>=40 & <=70
len(df[(df['Age']>=40) & (df['Age']<=70)])                  # for number of peoples between age>=40 & <=70
df['Age'].between(40,70)                                    #this will result in true false 
sum(df['Age'].between(40,70))                               #this will result in number of peoples
df[df['Age'].between(40,70)]                                #this will result data of peoples

    Voter_id  Age  Gender State Voted_For Voting_Status
0       1001   68    Male    DL       BJP         Voted
2       1003   55   Other    MP       BJP     Not Voted
3       1004   40    Male    RJ  Congress         Voted
6       1007   52    Male    RJ  Congress     Not Voted
7       1008   44  Female    MP  Congress     Not Voted
9       1010   55  Female    DL  Congress     Not Voted
10      1011   63    Male    UP       BJP     Not Voted
11      1012   62  Female    DL  Congress     Not Voted
12      1013   69  Female    DL  Congress     Not Voted
13      1014   53   Other    DL       BJP     Not Voted
14      1015   48  Female    MH       BJP     Not Voted
16      1017   68  Female    MP       AAP         Voted
17      1018   70   Other    UP  Congress         Voted
20      1021   51  Female    MP       AAP     Not Voted
21      1022   56   Other    UP  Congress     Not Voted
26      1027   66    Male    MP  Congress     Not Voted
27      1028   59    Male    DL       BJP         Voted
28      1029   55  Female    DL  Congress         Voted
30      1031   64    Male    MH       AAP         Voted
32      1033   67  Female    MH       BJP         Voted
34      1035   50  Female    UP  Congress     Not Voted
35      1036   49   Other    MH       BJP         Voted
36      1037   70    Male    RJ       AAP         Voted
37      1038   65   Other    UP  Congress         Voted
38      1039   69    Male    MP       AAP         Voted
39      1040   58    Male    UP       BJP         Voted
40      1041   45   Other    UP       BJP         Voted
41      1042   62   Other    DL  Congress     Not Voted
43      1044   69   Other    UP  Congress         Voted
44      1045   68  Female    UP  Congress         Voted
46      1047   48   Other    DL       AAP     Not Voted
48      1049   54    Male    MH       AAP     Not Voted

In [37]:
# average age 
df['Age'].mean()

np.float64(50.74)

In [38]:
# function usage   & apply method
def calc(x):
    return x//2    #this x/2 will return float but x//2 will give integer

df['Age'].apply(calc)
df['Half_Age']=df['Age'].apply(calc)   #how to add new column to your data
df

    Voter_id  Age  Gender State Voted_For Voting_Status  Half_Age
0       1001   68    Male    DL       BJP         Voted        34
1       1002   37   Other    MH       AAP         Voted        18
2       1003   55   Other    MP       BJP     Not Voted        27
3       1004   40    Male    RJ  Congress         Voted        20
4       1005   24   Other    UP  Congress     Not Voted        12
5       1006   26   Other    UP       AAP     Not Voted        13
6       1007   52    Male    RJ  Congress     Not Voted        26
7       1008   44  Female    MP  Congress     Not Voted        22
8       1009   30   Other    MP       BJP         Voted        15
9       1010   55  Female    DL  Congress     Not Voted        27
10      1011   63    Male    UP       BJP     Not Voted        31
11      1012   62  Female    DL  Congress     Not Voted        31
12      1013   69  Female    DL  Congress     Not Voted        34
13      1014   53   Other    DL       BJP     Not Voted        26
14      1015   48  Female    MH       BJP     Not Voted        24
15      1016   28    Male    MH       BJP         Voted        14
16      1017   68  Female    MP       AAP         Voted        34
17      1018   70   Other    UP  Congress         Voted        35
18      1019   79    Male    MH       BJP         Voted        39
19      1020   36   Other    MP       AAP         Voted        18
20      1021   51  Female    MP       AAP     Not Voted        25
21      1022   56   Other    UP  Congress     Not Voted        28
22      1023   79   Other    MP  Congress         Voted        39
23      1024   30   Other    UP       BJP     Not Voted        15
24      1025   32    Male    RJ       AAP     Not Voted        16
25      1026   30  Female    UP  Congress         Voted        15
26      1027   66    Male    MP  Congress     Not Voted        33
27      1028   59    Male    DL       BJP         Voted        29
28      1029   55  Female    DL  Congress         Voted        27
29      1030   24    Male    RJ       AAP         Voted        12
30      1031   64    Male    MH       AAP         Voted        32
31      1032   24    Male    UP       AAP     Not Voted        12
32      1033   67  Female    MH       BJP         Voted        33
33      1034   38  Female    DL       BJP         Voted        19
34      1035   50  Female    UP  Congress     Not Voted        25
35      1036   49   Other    MH       BJP         Voted        24
36      1037   70    Male    RJ       AAP         Voted        35
37      1038   65   Other    UP  Congress         Voted        32
38      1039   69    Male    MP       AAP         Voted        34
39      1040   58    Male    UP       BJP         Voted        29
40      1041   45   Other    UP       BJP         Voted        22
41      1042   62   Other    DL  Congress     Not Voted        31
42      1043   18   Other    MP       BJP         Voted         9
43      1044   69   Other    UP  Congress         Voted        34
44      1045   68  Female    UP  Congress         Voted        34
45      1046   71   Other    UP       AAP     Not Voted        35
46      1047   48   Other    DL       AAP     Not Voted        24
47      1048   29  Female    MH  Congress         Voted        14
48      1049   54    Male    MH       AAP     Not Voted        27
49      1050   30  Female    RJ       BJP         Voted        15

In [39]:
# lambda function in libbrary
df['Age'].apply(lambda x:x//2)

0     34
1     18
2     27
3     20
4     12
5     13
6     26
7     22
8     15
9     27
10    31
11    31
12    34
13    26
14    24
15    14
16    34
17    35
18    39
19    18
20    25
21    28
22    39
23    15
24    16
25    15
26    33
27    29
28    27
29    12
30    32
31    12
32    33
33    19
34    25
35    24
36    35
37    32
38    34
39    29
40    22
41    31
42     9
43    34
44    34
45    35
46    24
47    14
48    27
49    15
Name: Age, dtype: int64

In [40]:
df['Voted_For'].apply(len)

0     3
1     3
2     3
3     8
4     8
5     3
6     8
7     8
8     3
9     8
10    3
11    8
12    8
13    3
14    3
15    3
16    3
17    8
18    3
19    3
20    3
21    8
22    8
23    3
24    3
25    8
26    8
27    3
28    8
29    3
30    3
31    3
32    3
33    3
34    8
35    3
36    3
37    8
38    3
39    3
40    3
41    8
42    3
43    8
44    8
45    3
46    3
47    8
48    3
49    3
Name: Voted_For, dtype: int64

In [41]:
# which party won election 
df['Voted_For'].value_counts()

Voted_For
Congress    19
BJP         17
AAP         14
Name: count, dtype: int64

In [42]:
# convert voted sttaus into 1 and not voted into 0 
df['Voting_Status'].map({'Voted':1,'Not Voted':0})
df['status'] = df['Voting_Status'].map({'Voted':1,'Not Voted':0})
df

    Voter_id  Age  Gender State Voted_For Voting_Status  Half_Age  status
0       1001   68    Male    DL       BJP         Voted        34       1
1       1002   37   Other    MH       AAP         Voted        18       1
2       1003   55   Other    MP       BJP     Not Voted        27       0
3       1004   40    Male    RJ  Congress         Voted        20       1
4       1005   24   Other    UP  Congress     Not Voted        12       0
5       1006   26   Other    UP       AAP     Not Voted        13       0
6       1007   52    Male    RJ  Congress     Not Voted        26       0
7       1008   44  Female    MP  Congress     Not Voted        22       0
8       1009   30   Other    MP       BJP         Voted        15       1
9       1010   55  Female    DL  Congress     Not Voted        27       0
10      1011   63    Male    UP       BJP     Not Voted        31       0
11      1012   62  Female    DL  Congress     Not Voted        31       0
12      1013   69  Female    DL  Congress     Not Voted        34       0
13      1014   53   Other    DL       BJP     Not Voted        26       0
14      1015   48  Female    MH       BJP     Not Voted        24       0
15      1016   28    Male    MH       BJP         Voted        14       1
16      1017   68  Female    MP       AAP         Voted        34       1
17      1018   70   Other    UP  Congress         Voted        35       1
18      1019   79    Male    MH       BJP         Voted        39       1
19      1020   36   Other    MP       AAP         Voted        18       1
20      1021   51  Female    MP       AAP     Not Voted        25       0
21      1022   56   Other    UP  Congress     Not Voted        28       0
22      1023   79   Other    MP  Congress         Voted        39       1
23      1024   30   Other    UP       BJP     Not Voted        15       0
24      1025   32    Male    RJ       AAP     Not Voted        16       0
25      1026   30  Female    UP  Congress         Voted        15       1
26      1027   66    Male    MP  Congress     Not Voted        33       0
27      1028   59    Male    DL       BJP         Voted        29       1
28      1029   55  Female    DL  Congress         Voted        27       1
29      1030   24    Male    RJ       AAP         Voted        12       1
30      1031   64    Male    MH       AAP         Voted        32       1
31      1032   24    Male    UP       AAP     Not Voted        12       0
32      1033   67  Female    MH       BJP         Voted        33       1
33      1034   38  Female    DL       BJP         Voted        19       1
34      1035   50  Female    UP  Congress     Not Voted        25       0
35      1036   49   Other    MH       BJP         Voted        24       1
36      1037   70    Male    RJ       AAP         Voted        35       1
37      1038   65   Other    UP  Congress         Voted        32       1
38      1039   69    Male    MP       AAP         Voted        34       1
39      1040   58    Male    UP       BJP         Voted        29       1
40      1041   45   Other    UP       BJP         Voted        22       1
41      1042   62   Other    DL  Congress     Not Voted        31       0
42      1043   18   Other    MP       BJP         Voted         9       1
43      1044   69   Other    UP  Congress         Voted        34       1
44      1045   68  Female    UP  Congress         Voted        34       1
45      1046   71   Other    UP       AAP     Not Voted        35       0
46      1047   48   Other    DL       AAP     Not Voted        24       0
47      1048   29  Female    MH  Congress         Voted        14       1
48      1049   54    Male    MH       AAP     Not Voted        27       0
49      1050   30  Female    RJ       BJP         Voted        15       1

In [43]:
# now drop this added column 
df.drop('status' , axis=1)
# to drop multiple columns write inside a python list 
df.drop(['status','Half_Age'], axis=1)   #but this is not saved untill implace = true is not written or df =df not done
df.drop(['status','Half_Age'], axis=1 , inplace=True )

In [44]:
df

    Voter_id  Age  Gender State Voted_For Voting_Status
0       1001   68    Male    DL       BJP         Voted
1       1002   37   Other    MH       AAP         Voted
2       1003   55   Other    MP       BJP     Not Voted
3       1004   40    Male    RJ  Congress         Voted
4       1005   24   Other    UP  Congress     Not Voted
5       1006   26   Other    UP       AAP     Not Voted
6       1007   52    Male    RJ  Congress     Not Voted
7       1008   44  Female    MP  Congress     Not Voted
8       1009   30   Other    MP       BJP         Voted
9       1010   55  Female    DL  Congress     Not Voted
10      1011   63    Male    UP       BJP     Not Voted
11      1012   62  Female    DL  Congress     Not Voted
12      1013   69  Female    DL  Congress     Not Voted
13      1014   53   Other    DL       BJP     Not Voted
14      1015   48  Female    MH       BJP     Not Voted
15      1016   28    Male    MH       BJP         Voted
16      1017   68  Female    MP       AAP         Voted
17      1018   70   Other    UP  Congress         Voted
18      1019   79    Male    MH       BJP         Voted
19      1020   36   Other    MP       AAP         Voted
20      1021   51  Female    MP       AAP     Not Voted
21      1022   56   Other    UP  Congress     Not Voted
22      1023   79   Other    MP  Congress         Voted
23      1024   30   Other    UP       BJP     Not Voted
24      1025   32    Male    RJ       AAP     Not Voted
25      1026   30  Female    UP  Congress         Voted
26      1027   66    Male    MP  Congress     Not Voted
27      1028   59    Male    DL       BJP         Voted
28      1029   55  Female    DL  Congress         Voted
29      1030   24    Male    RJ       AAP         Voted
30      1031   64    Male    MH       AAP         Voted
31      1032   24    Male    UP       AAP     Not Voted
32      1033   67  Female    MH       BJP         Voted
33      1034   38  Female    DL       BJP         Voted
34      1035   50  Female    UP  Congress     Not Voted
35      1036   49   Other    MH       BJP         Voted
36      1037   70    Male    RJ       AAP         Voted
37      1038   65   Other    UP  Congress         Voted
38      1039   69    Male    MP       AAP         Voted
39      1040   58    Male    UP       BJP         Voted
40      1041   45   Other    UP       BJP         Voted
41      1042   62   Other    DL  Congress     Not Voted
42      1043   18   Other    MP       BJP         Voted
43      1044   69   Other    UP  Congress         Voted
44      1045   68  Female    UP  Congress         Voted
45      1046   71   Other    UP       AAP     Not Voted
46      1047   48   Other    DL       AAP     Not Voted
47      1048   29  Female    MH  Congress         Voted
48      1049   54    Male    MH       AAP     Not Voted
49      1050   30  Female    RJ       BJP         Voted

In [45]:
# to sort the data 
df.sort_values(by='Age' , ascending=True)
df.sort_values(by=['Age','State' ], ascending=True)

    Voter_id  Age  Gender State Voted_For Voting_Status
42      1043   18   Other    MP       BJP         Voted
29      1030   24    Male    RJ       AAP         Voted
4       1005   24   Other    UP  Congress     Not Voted
31      1032   24    Male    UP       AAP     Not Voted
5       1006   26   Other    UP       AAP     Not Voted
15      1016   28    Male    MH       BJP         Voted
47      1048   29  Female    MH  Congress         Voted
8       1009   30   Other    MP       BJP         Voted
49      1050   30  Female    RJ       BJP         Voted
23      1024   30   Other    UP       BJP     Not Voted
25      1026   30  Female    UP  Congress         Voted
24      1025   32    Male    RJ       AAP     Not Voted
19      1020   36   Other    MP       AAP         Voted
1       1002   37   Other    MH       AAP         Voted
33      1034   38  Female    DL       BJP         Voted
3       1004   40    Male    RJ  Congress         Voted
7       1008   44  Female    MP  Congress     Not Voted
40      1041   45   Other    UP       BJP         Voted
46      1047   48   Other    DL       AAP     Not Voted
14      1015   48  Female    MH       BJP     Not Voted
35      1036   49   Other    MH       BJP         Voted
34      1035   50  Female    UP  Congress     Not Voted
20      1021   51  Female    MP       AAP     Not Voted
6       1007   52    Male    RJ  Congress     Not Voted
13      1014   53   Other    DL       BJP     Not Voted
48      1049   54    Male    MH       AAP     Not Voted
9       1010   55  Female    DL  Congress     Not Voted
28      1029   55  Female    DL  Congress         Voted
2       1003   55   Other    MP       BJP     Not Voted
21      1022   56   Other    UP  Congress     Not Voted
39      1040   58    Male    UP       BJP         Voted
27      1028   59    Male    DL       BJP         Voted
11      1012   62  Female    DL  Congress     Not Voted
41      1042   62   Other    DL  Congress     Not Voted
10      1011   63    Male    UP       BJP     Not Voted
30      1031   64    Male    MH       AAP         Voted
37      1038   65   Other    UP  Congress         Voted
26      1027   66    Male    MP  Congress     Not Voted
32      1033   67  Female    MH       BJP         Voted
0       1001   68    Male    DL       BJP         Voted
16      1017   68  Female    MP       AAP         Voted
44      1045   68  Female    UP  Congress         Voted
12      1013   69  Female    DL  Congress     Not Voted
38      1039   69    Male    MP       AAP         Voted
43      1044   69   Other    UP  Congress         Voted
36      1037   70    Male    RJ       AAP         Voted
17      1018   70   Other    UP  Congress         Voted
45      1046   71   Other    UP       AAP     Not Voted
18      1019   79    Male    MH       BJP         Voted
22      1023   79   Other    MP  Congress         Voted

In [46]:
df[df['State']=='MP']
df[df['State']=='MP'][['Age',"Gender"]]  #only name & age

    Age  Gender
2    55   Other
7    44  Female
8    30   Other
16   68  Female
19   36   Other
20   51  Female
22   79   Other
26   66    Male
38   69    Male
42   18   Other

In [47]:
# dataframe['column'].apply(lambda x:x.split('@')[1]).value_counts().head()

In [48]:
df[df['Voted_For'].str.contains('ress')] 
#to check certain words occurence in any column use .str.contain('word')
len(df[df['Voted_For'].str.contains('ress')])      
# to make it case insensitive use case=false
len(df[df['Voted_For'].str.contains('ress' , case=False)])

19

In [49]:
# suppose w have names of person voting for parties then we want person name voting for congress
# df[df['Voted_for'].str.contains('BJP' ,case=False)['name']]

In [50]:
# to replace any certain words  like change state DL to TN
df['State']=df['State'].replace('DL','TN')
df['State']

0     TN
1     MH
2     MP
3     RJ
4     UP
5     UP
6     RJ
7     MP
8     MP
9     TN
10    UP
11    TN
12    TN
13    TN
14    MH
15    MH
16    MP
17    UP
18    MH
19    MP
20    MP
21    UP
22    MP
23    UP
24    RJ
25    UP
26    MP
27    TN
28    TN
29    RJ
30    MH
31    UP
32    MH
33    TN
34    UP
35    MH
36    RJ
37    UP
38    MP
39    UP
40    UP
41    TN
42    MP
43    UP
44    UP
45    UP
46    TN
47    MH
48    MH
49    RJ
Name: State, dtype: object

In [51]:
#suppose we have 5 columns & want col1's value of column 3 like we have name so want to know his salary 
# df[df['column_name']==['Name']['data_we_want_salary']]

In [ ]:
# df['base_payment'].max() #this will give maximum value 
# df[df['base_payment'].max()==df['base_payment']]['specific_col_name_we_want']

KeyError: 'base_payment'

In [53]:
df.groupby('Voted_For').mean()['Age']

TypeError: agg function failed [how->mean,dtype->object]